nav {
  background-color: #333;
  padding: 10px 0; 
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white; 
  text-decoration: none;
  padding: 10px 20px; 
}

nav ul li a:hover {
  background-color: #555; 
}

.cart-button {
  background-color: #424e43; 
  color: white; 
  border: none;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.cart-button:hover{
  background-color: #95b996;
}

@media screen and (max-width: 600px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
