<div class="filterClass">
  <label> Filter: </label>
  <input
    type="radio"
    id="html"
    name="fav_language"
    [(ngModel)]="filter"
    value="allProducts"
    (change)="setFilter('allProducts')"
  />
  <label for="html">All ({{ all }}) </label><br />
  <input
    type="radio"
    id="css"
    name="fav_language"
    [(ngModel)]="filter"
    value="inTheStock"
    (change)="setFilter('inTheStock')"
  />
  <label for="css">inStock({{ inStock }})</label><br />
  <input
    type="radio"
    id="javascript"
    name="fav_language"
    [(ngModel)]="filter"
    value="outOfStock"
    (change)="setFilter('outOfStock')"
  />
  <label for="javascript">Not in Stock({{ outStock }})</label>
</div>
