.cart-container {
  display: flex;
  flex-direction: column;
  /* align-items:first baseline; */
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:end;
}

.product-name {
  margin: 0 0 10px;
  font-size: 18px;
}

.product-price {
  margin: 0;
  font-size: 16px;
}

.product-quantity {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.edit-quantity-container {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px;
}

.product-quantity {
  margin: 0 10px;
  font-size: 16px;
  color: #333;
}
