<h1>Cart Details</h1>
<div class="cart-container">
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.imgSrc" alt="{{ item.name }}" class="product-image" />
    <div class="product-details">
      <h3 class="product-name">{{ item.name }}</h3>
      <p class="product-price">
        Price: ${{ item.discountedPrice ? item.discountedPrice : item.price }}
      </p>
      <div class="edit-quantity-container">
        <p class="product-quantity">Quantity</p>
        <button class="quantity-button" (click)="removeFromCart(item)">
          -
        </button>
        <p class="product-quantity">{{ item.quantity }}</p>
        <button class="quantity-button" (click)="addFromCart(item)">+</button>
      </div>
    </div>
  </div>
</div>
