<app-search (search)="search($event)"></app-search>
<div class="tables">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>age</th>
        <th>Buttons</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="active-row"
        *ngFor="let user of !flag ? user : newUser; let i = index"
      >
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>
          <button type="button" (click)="delUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-table2 [delArr]="delArr" (reviveUser)="reviveUser($event)"></app-table2>
</div>
